/* Styling for the testimonials section */
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

/* Styling for individual testimonial columns */
.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #8585d7;
    padding: 25px;
    display: flex;
    transition: 0.5s;
}

/* Styling for images within testimonial columns */
.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

/* Styling for paragraphs within testimonial columns */
.testimonial-col p {
    padding: 0;
}

/* Styling for headings within testimonial columns */
.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

/* Hover effect for testimonial columns */
.testimonial-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}