/* Importing various weights of the Poppins font from Google Fonts */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiGyp8kv8JHgFVrLPTucHtF.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLFj_Z1xlEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
}

/* Global reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Basic styles for the body and html elements */
body,
html {
    overflow-x: hidden;
    height: 100%;
    position: relative;
    z-index: 0;
}

/* Basic styles for anchor tags */
a {
    text-decoration: none;
    color: whitesmoke;
}

/* Basic styles for unordered lists */
ul {
    list-style: none;
}

/* Basic styles for h1 headings */
h1 {
    font-size: 36px;
    font-weight: 600;
}

/* Basic styles for h3 headings */
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/* Basic styles for paragraphs */
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* Basic styles for row elements */
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}