/* Header background styling */
header {
    width: 100vw;
    height: 70vh;
    background-image: url("../../../images/contactbackground.png");
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}